body{
    background-color: rgb(105, 118, 160);
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    font-size: 18px;

}
header{background-color: gray;
    padding: 10px;

    
}

.container{ 
    width: 960px;
    margin: 0 auto; 

}


#division{ float: left;
    width: 650px;

}
#profile{background-image: url(https://imgur.com/jGWN0WL)}

footer{
    padding: 20px;
    background-color: gray;
    text-align: center;

}